body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: grey;
    font-family: 'Ubuntu', sans-serif;
    font-size: 120%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.snow, .snow::after, .snow::before {
    content: '';
    position: absolute;
    top: -650px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: 
    radial-gradient(4px 4px at 200px 50px, #fff, transparent),
    radial-gradient(6px 6px at 400px 150px, #fff, transparent),
    radial-gradient(3px 3px at 250px 80px, #fff, transparent),
    radial-gradient(4px 4px at 450px 200px, #fff, transparent),
    radial-gradient(5px 5px at 320px 300px, #fff, transparent),
    radial-gradient(3px 3px at 300px 80px, #fff, transparent),
    radial-gradient(2px 2px at 100px 400px, #fff, transparent),
    radial-gradient(6px 6px at 600px 270px, #fff, transparent),
    radial-gradient(3px 3px at 550px 500px, #fff, transparent);
    background-size: 650px 650px;
    animation: snowAnim 3s linear;
    animation-iteration-count: infinite;
}
.snow::after {
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-direction: reverse;
    animation-duration: 6s;
}
.snow::before {
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
    animation-direction: reverse;
    animation-duration: 9s;
}

@keyframes snowAnim{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(650px);
    }
}

.card {
    width: 100%;
    padding: 2em;
    background: rgb(0, 0, 0);
    opacity: 0.8;
    color: white;
    border-radius: 30px;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 45px;
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    width: 45px;
    outline: none;
    background: #7c7c7c2b;
    cursor: pointer;
    color: white;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    background: #7c7c7c2b;
    color: white;
    border-radius: 24px;
    padding: 0.5em 1em;
    border: none;
    font-family: inherit;
    outline: none;
    font-size: 105%;
    width: calc(100% - 100px);
}

button:hover {
    background: #464444;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 10px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;

}

.weather.loading::after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}